/* General rules */

@font-face {
    font-family: 'GODOFWAR';
    src: url(/font/GODOFWAR.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body {
    background-color: rgb(10, 10, 27);
    color: white;
    font-family: 'Roboto', sans-serif;
}

header, footer, section {
    margin: 0 10%;
}

/* Navbar */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    padding: 1em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 6vh;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

li:not(:last-child) {
    margin-right: 20px;
}

li:hover {
    text-shadow: 0px 0px 6px white;
}

.logo {
    width: 70px;
    margin-right: 20px;
}

/* Section de la porte */

.section1 {
    display: flex;
    align-items: center;
}

section { 
    margin-bottom: 12em;
}

h1 {
    font-family: 'GODOFWAR', sans-serif;
    font-size: 6em;
    text-shadow: 0px 0px 6px white;
    margin-bottom: 2rem;
}

.porte {
    width: 75%;
    position: relative;
}

.porte-img {
    width: 100%;
}

.first-text {
    width: 60%;
    padding: 20px 0;
    margin-right: 10px;
}

.first-text p {
    color: rgb(110, 110, 141);
    font-weight: 600;
    margin-bottom: 4em;
    line-height: 1.5em;
}

.button {
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    font-weight: 800;
    padding: 1em 6em;
    background-color: rgb(148, 120, 67);
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    transition: color 0.3s, background-color 0.3s;
}

.button:hover {
    color: white;
    background-color: rgb(22, 22, 22);
}

/* Animation des rochers flottants */

.floating-rock {
    position: absolute;
    width: 5%;
}

.one {
    left: 13%;
    top: 40%;
    animation: 5s ease-in-out infinite first-anim;
}

.two {
    bottom: 13%;
    right: 15%;
    animation: 4s ease-in-out 1s infinite second-anim;
}

@keyframes first-anim {
    0% {
        top: 40%;
    }
    50% {
        top: 42%;
    }
    100% {
        top: 40%;
    }
}

@keyframes second-anim {
    0% {
        bottom: 13%;
    }
    50% {
        bottom: 15%;
    }
    100% {
        bottom: 13%;
    }
}

/* Section 2 */

.section2 {
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 2px sandybrown;
    border-radius: 10px;
    position: relative;
    animation: 7s ease-in-out infinite glowing;
    scroll-margin-block-start: 168px;
}

.section2 p {
    color: rgb(110, 110, 141);
    line-height: 1.5em;
    font-weight: 600;
}

p.welcome {
    color: sandybrown;
}

h2, .welcome {
    text-transform: uppercase;
    font-family: "GODOFWAR";
}

h2 {
    font-weight: 600;
    font-size: 4em;
    margin-bottom: .5em;
}

.text {
    padding: 4em;
    width: 60%;
    margin-left: 50%;
}

.left-side-img {
    width: 50%;
    position: absolute;
    bottom: 6%;
}

.left-side-img img {
    width: 100%;
}

.chevron-down {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    aspect-ratio: 1;
    background-color: sandybrown;
    text-align: center;
    border-radius: 50%;
}

.chevron-down i {
    transform: translateY(80%);
    color: black;
    font-weight: 800;
    transition: color 0.3s;
}

.chevron-down:hover i{
    color: white;
}

/* Animation box shadow */

@keyframes glowing {
    0% {
        box-shadow: 0 0 10px 2px sandybrown;
    }
    25% {
        box-shadow: 0 0 30px 8px sandybrown;
    }
    50% {
        box-shadow: 0 0 10px 2px sandybrown;
    }
    75% {
        box-shadow: 0 0 30px 15px sandybrown;
    }
    100% {
        box-shadow: 0 0 10px 2px sandybrown;
    }
}

/* Section piques vers le haut */

#pikes-up {
    margin: 0;
    width: 100%;
}

#pikes-down {
    margin: 0;
    width: 100%;
}

.pikes-up-img {
    width: 100%;
}

/* Section 3 */

.section3 {
    background-image: url(/img/bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}

#nomargin {
    margin: 0;
    padding-top: 40px;
}

.section3 > div {
    margin: 0 10%;
}

.section3-wrapper {
    display: flex;
    line-height: 1.6em;
}

.left-text, .right-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.upper-left, .upper-right {
    margin-bottom: 100px;
}

.title-wrapper {
    margin-top: 20px;
}

.medium-text, .bullet-title {
    font-family: "GODOFWAR";
    color: sandybrown;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 1em;
}

.nos {
    margin: 0;
    font-family: "GODOFWAR";
    color: sandybrown;
}

.bullet-title {
    color: white;
    font-family: "GODOFWAR";
    font-size: 2em;
}

p {
    color: rgb(110, 110, 141);
    font-size: 1.2em;
    font-weight: 600;
}

.nostitle {
    font-size: 1.7em;
    line-height: 1.5em;
}

/* Section 4 */

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.method-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.method-wrapper:not(:last-child) {
    margin-right: 30px;
}

.cards {
    position: relative;
    border-radius: 10px;
    background-color: rgb(24, 21, 46);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    transition: box-shadow 0.3s;
}

.cards:hover {
    box-shadow: 0 0 25px white;
}

.cards img {
    position: absolute;
}

.lava {
    right: 20%;
    top: 3%;
}

.rock {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.volcan {
    top: 30px;
    right: 2%;
}

.bullet {
    text-align: right;
    padding-right: 2em;
}

.bullet-text {
    margin-top: 20px;
}

.bullet.middle {
    text-align: center;
    padding-right: 0;
}

.bullet.right {
    text-align: left;
    padding-left: 20px;
}

.lorem {
    text-align: justify;
    padding: 1em;
    margin-bottom: 3em;
    line-height: 1.5em;
}

.clip1 {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 103% 0, 100% 30%, 0 97%);
    background: linear-gradient(90deg,rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);
}

.clip2 {
    width: 100%;
    height: 68px;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 88%);
    background: linear-gradient(360deg,rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);
}

.clip3 {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    clip-path: polygon(0 30%, 0 0, 100% 0, 100% 97%);
    background: linear-gradient(270deg,rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);
}

